.Rectangle {
    position: relative;
    width: 1440px;
    height: 372px;
    text-align: center;
    display: inline-block;
}

.Rectangle2 {
    position: relative;
    width: 260px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
}

.Rectangle3 {
    position: relative;
    width: 1440px;
    height: 70px;
    top: -2px;
    text-align: center;
    display: inline-block;
}
.Rectangle4 {
    position: relative;
    width: 768px;
    height: 367px;
    background: #FFFFFF;
    display: inline-block;
}
.footer {
    position: relative;
    text-align: center;
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.header {
    position: relative;
    text-align: center;
    width: 100%;
    display: inline-block;
    vertical-align: bottom;
}

.border {
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.logo {
    position: relative;
    width: 105.69px;
    height: 40px;
    float: none;
}
.group {
    position: relative;
    width: 260px;
    height: 132px;
    grid-column: 1;
}
.group1 {
    position: relative;
    width: 143px;
    height: 168px;
    grid-column: 2;
}
.group2 {
    position: relative;
    width: 108px;
    height: 168px;
    rid-column: 3;
}
.group3 {
    position: relative;
    width: 149px;
    height: 130px;
    grid-column: 4;
}
.group4 {
    position: relative;
    width: 260px;

    grid-column: 5;
}

.group5 {
    position: relative;
    display: flex;
    flex-flow: column;
}
.a {
    position: relative;
    top: 20%;
}

.button1 {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

.button1:before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border-radius:22px;
    padding:2px;
    background:linear-gradient(180deg, rgba(188, 156, 255, 1), rgba(139, 164, 249, 1));
    -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}

.button2 {
    position: relative;
    display: inline-block;
    border-radius: 22px;
    border: 2px solid transparent;
    padding-left: 20px;
    padding-right: 20px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.button3 {
    position: relative;
    display: inline-block;
    border-radius: 22px;
    border: 2px solid transparent;
    padding-left: 20px;
    padding-right: 20px;
}

.light {
    opacity: 0.5;
}

.right20 {
    padding-left: 20px;
}

.absolute {
    position: relative;
    right: -15px;
}

.inline {
    position: relative;
    display: inline-block;
}

.line {
    display: inline-block;
    height: 40%;
    border-left: 2px solid;
    border-color: rgba(31, 32, 65, 0.1);;
}
