.Rectangle {
    position: relative;
    width: 1440px;
    height: 372px;
    text-align: center;
    display: inline-block;
}

.Rectangle2 {
    position: relative;
    width: 260px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
}

.Rectangle3 {
    position: relative;
    width: 1440px;
    height: 70px;
    top: -3px;
    text-align: center;
    display: inline-block;
}
.Rectangle4 {
    position: relative;
    width: 768px;
    height: 367px;
    background: #FFFFFF;
    display: inline-block;
}
.footer1 {
    position: relative;
    text-align: center;
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.footer2 {
    position: relative;
    text-align: center;
    width: 100%;
    display: inline-block;
    vertical-align: bottom;
}

.header1 {
    position: relative;
    text-align: center;
    width: 100%;
    display: inline-block;
    vertical-align: bottom;
}

.headerRect1 {
    position: relative;
    width: 1440px;
    height: 70px;
    display:inline-block;
}

.border {
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.logo {
    position: relative;
    width: 105.69px;
    height: 40px;
    left: 0px;
    top: 0px;
    float: none;
}
.group {
    position: relative;
    width: 260px;
    height: 132px;
    grid-column: 1;
}
.group1 {
    position: relative;
    width: 143px;
    height: 168px;
    grid-column: 2;
}
.group2 {
    position: relative;
    width: 108px;
    height: 168px;
    rid-column: 3;
}
.group3 {
    position: relative;
    width: 149px;
    height: 130px;
    grid-column: 4;
}
.group4 {
    position: relative;
    width: 260px;

    grid-column: 5;
}

.group5 {
    position: relative;
    display: flex;
    flex-flow: column;
}
.txt_box1 {
    position: relative;
    width: 260px;
    height: 72px;
    left: 0px;
    top: 0px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}
.txt_normal {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: rgba(31, 32, 65, 0.5);
}
.txt_bold {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;

}
.txt_wd {
    line-height: 28px;
}


.arrow_forward {
    position: absolute;
    width: 44px;
    height: 44px;
    left: 216px;
    top: 0px;
    font-family: Material Icons, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
}

.img_lg {
    width: 24px;
    height: 24px;
}

.txt_c {
    position: relative;
    left: 140px;
    top: 26px;
}
.img_c {
    position: absolute;
    left: 1188px;
    top: 23px;
}
.a {
    position: relative;
    top: 20%;
}

.button1 {
    position: relative;
    display: inline-block;
    border-radius: 22px;
    border: 2px solid;
    box-sizing: border-box;
    width: 87px;
    height: 34px;
}

.button2 {
    position: relative;
    display: inline-block;
    border-radius: 22px;
    border: 2px solid;
    box-sizing: border-box;
    width: 196px;
    height: 34px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.posrel {
    position: relative;
}