.Rectangle {
    /* Rectangle */
    position: absolute;
    width: 1440px;
    height: 372px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.1);
}
.Rectangle2 {

    position: absolute;
    width: 260px;
    height: 44px;
    left: 1040px;
    top: 208px;

    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
}
.Rectangle3 {
    position: absolute;
    width: 1440px;
    height: 70px;
    left: 0px;
    top: 373px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    text-align: center;
}
.logo {
    position: relative;
    width: 105.69px;
    height: 40px;
    left: 0px;
    top: 0px;
}
.group {
    position: absolute;
    width: 260px;
    height: 132px;
    left: 140px;
    top: 100px;
}
.group1 {
    position: absolute;
    width: 143px;
    height: 168px;
    left: 440px;
    top: 104px;
}
.group2 {
    position: absolute;
    width: 108px;
    height: 168px;
    left: 640px;
    top: 104px;
}
.group3 {
    position: absolute;
    width: 149px;
    height: 130px;
    left: 840px;
    top: 104px;
}
.group4 {
    position: absolute;
    width: 260px;
    height: 84px;
    left: 1040px;
    top: 104px;
}
.txt_box1 {
    position: relative;
    width: 260px;
    height: 72px;
    left: 0px;
    top: 0px;
}
.txt_normal {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: rgba(31, 32, 65, 0.5);
}
.txt_bold {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;

}
.txt_wd {
    line-height: 28px;
}
.arrow_forward {
/* arrow_forward */

position: absolute;
width: 44px;
height: 44px;
left: 216px;
top: 0px;

font-family: Material Icons;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;


}
.img_lg {
    width: 24px;
    height: 24px;
}
.img2{
    position: relative;
    left: 20px;
}
.img3{
    position: relative;
    left: 44px;
}
.txt_c {
    position: absolute;
    left: 140px;
    top: 26px;
}
.img_c {
    position: absolute;
    left: 1188px;
    top: 23px;
}