.Rectangle {
    /* Rectangle */
    position: absolute;
    width: 1440px;
    height: 70px;
    left: 0px;
    top: 140px;

    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
.logo {
    position: absolute;
    width: 105.69px;
    height: 40px;
    left: 140px;
    top: 155px;
}

.group2 {
    position: absolute;
    width: 447px;
    height: 21px;
    left: 530px;
    top: 166px;
}