@font-face{
    font-family: "Avesome"; /* Гарнитура шрифта */
    src: url("../fnt/fa-brands-400.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
.txt_700 {
    font-weight: 700;
}
.uppercase {
    text-transform: uppercase;
}
.color_white {
    color: #FFFFFF;
}
.color_darkShade {
    color: #1F2041;
}
.color_darkShade75 {
    color: rgba(31, 32, 65, 0.75);
}
.color_darkShade50 {
    color: rgba(31, 32, 65, 0.5);
}
.color_darkShade25 {
    color: rgba(31, 32, 65, 0.25);
}
.color_darkShade5 {
    color: rgba(31, 32, 65, 0.05);
}
.color_purple {
    color: #BC9CFF;
}
.color_green{
    color:#6FCF97;
}
h1 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}
h2 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 23px;
}
h3 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
}

body {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color:  rgba(31, 32, 65, 0.5);
    background-color: #E5E5E5;
}
.left {
    text-align: left;
    padding-left: 10px;
}
.right {
    text-align: right;
}
.center {
    text-align: center;
}

.downspace5 {
    padding: 5px;
}
.upspace20 {
    padding-top: 20px;
}
.upspace25 {
    padding-top: 25px;
}
.fs-24 {
    font-size: 24px;
}
.fs-12 {
    font-size: 12px;
}
.lh-24 {
    line-height: 24px;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
}
.top {
    vertical-align: top;
}
.gradient {
    color: transparent;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    -webkit-background-clip: text;
    background-clip: text;
}
.fontIcons {
    font-family: Avesome;
    font-style: normal;
    font-weight: normal;
}
.leftspace20 {
    padding-left: 20px;
}
.leftspace0 {
    padding-left: -3px;
}

.width {
    position: relative;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    top: 30%;
}
.def {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
}

.flex {
    position: relative;
    display: flex;
    flex-flow: column;
}

